<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.TenTenConnectionString"
            connectionString="Data Source=.;Initial Catalog=TenTen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>